<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Company form</title>
</head>
<body>
	<div class="header">
		<div class="header_resize">
			<div class="logo">
				<h1>
					<a href="index.html" th:href="@{/index}">Company Management
						Application</a>
				</h1>
			</div>
		</div>
	</div>

	<table>
		<tr>
			<td>
				<table border="1" class="myTable">
					<tr>
						<td>Company ID:</td>
						<td th:text="${specificCompany.idcompany}"></td>
					</tr>

					<tr>
						<td>Company Name:</td>
						<td th:text="${specificCompany.company_name}"></td>
					</tr>

					<tr>
						<td>Phone:</td>
						<td th:text="${specificCompany.phone}"></td>
					</tr>

					<tr>
						<td>Email:</td>
						<td th:text="${specificCompany.email}"></td>
					</tr>

					<tr>
					</tr>
				</table>
			</td>
		</tr>
	</table>

</body>

</html>