<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Employees</title>
</head>
<body>
	<div class="header">
		<div class="header_resize">
			<div class="logo">
				<h1>
					<a href="index.html" th:href="@{/index}">Company Management Application</a>
				</h1>
			</div>
		</div>
	</div>

	<table>
		<tr>
			<td>
				<table border="1" class="myTable">
					<tr class="myTableRow">
						<th class="myTable20">Last Name</th>
						<th class="myTable20">First Name</th>
						<th class="myTable35">Employee ID</th>
						<th class="myTable20">Badge</th>
					</tr>
		
					<tr class="myTableRow" th:each="employee : ${employees}">
						<td class="myTable20" th:text="${employee.name}"></td>
						<td class="myTable35" th:text="${employee.surname}"></td>
						<td class="myTable20" th:text="${employee.companyid}"></td>
						<td class="myTable30" th:text="${employee.badge}"></td>
					</tr>
				</table>
				
			</td>
		</tr>
	</table>

</body>

</html>